<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="container my-auto">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-5">
          Experience
          <button
            type="button"
            class="btn btn-primary float-right"
            (click)="onAdd()"
          >
            <span class="glyphicon glyphicon-plus"></span> Add
          </button>
        </h3>
      </div>

      <div class="card-body">
        <div *ngIf="experiences.length == 0">
          <p class="text-muted">No experiences added</p>
        </div>

        <div *ngFor="let experience of experiences">
          <div class="card" style="width: 100%">
            <div class="card-header" style="width: 100%">
              <h4>
                {{ experience.company }}
                <button
                  type="button"
                  class="btn btn-default btn-sm float-right"
                  (click)="routeToEdit(experience.experienceId)"
                >
                  <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
              </h4>
            </div>

            <div class="card-body">
              <div class="card-title h3">{{ experience.role }}</div>
              <br />
              <span class="text-primary"
                >{{ experience.joiningYear }}- {{ experience.endingYear }}</span
              >
            </div>
          </div>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
  </div>

  <!-- <button type="button" class="btn btn-sm"><a [routerLink]="['/experience',user.username]">edit</a></button> -->
</section>
