<div class="container">
    <form (ngSubmit)=updateExperience() #f="ngForm">
        <div class="form-group">
        <label for="name"><span>Company</span></label>
        <input type="text" class="form-control" id="company" name="college"  [(ngModel)]="experience.company" >
        </div>
        <div class="form-group">
            <label for="name"><span>Role</span></label>
            <input type="text" class="form-control" id="role" name="role"   [(ngModel)]="experience.role" >
        </div>
        <div class="form-group">
        <label for="name"><span>Joining Year</span></label>
        <input type="text" class="form-control" id="joiningYear" name="joiningYear"   [(ngModel)]="experience.joiningYear" >
        </div>
        <div class="form-group">
            <label for="name"><span>Ending Year</span></label>
            <input type="text" class="form-control" id="endingYear" name="endingYear"  [(ngModel)]="experience.endingYear" >
        </div>
        

        <button type="submit" class="btn btn-default btn-sm"  >
            <span class="glyphicon glyphicon-save"></span> Save
        </button>

    </form>
</div>